<div>
    <md-content>
        <md-toolbar class="stay-top" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="images/ic_menu_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
                <span flex></span>
                <md-button aria-label="Search" ng-click="radiBre()" ng-if="showSearchOption()">
                    <md-icon md-svg-icon="images/ic_search_white_24px.svg"></md-icon>
                </md-button>
                <h3 class="toolbar-item"><span>{{user.firstname}} {{user.lastname}}</span></h3>
                <md-button class="md-raised" ng-click="logout()" ng-if="authService.isLoggedIn()">
                    Logout
                </md-button>
                <md-button class="md-raised" ng-click="login()" ng-if="!authService.isLoggedIn()">
                    Login
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="stay-top" ng-show="showSearch" style="background-color: white">
            <div class="md-toolbar-tools">
                <md-button ng-click="showSearch = !showSearch;  searchText = ''; emitSearchQuery(searchText);" aria-label="Back">
                    <md-icon md-svg-icon="images/ic_arrow_back_black_24px.svg"></md-icon>
                </md-button>
                <md-input-container md-theme="input" flex layout="start center">
                    <label>&nbsp;</label>
                    <input ng-model="searchText" placeholder="Search..." ng-change="emitSearchQuery(searchText)">
                </md-input-container>
            </div>
        </md-toolbar>
    </md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 stay-top" md-component-id="left">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="images/ic_arrow_back_white_24px.svg"></md-icon>
                </md-button>
                <h2><span>{{page.title}}</span></h2>
            </div>
        </md-toolbar>

        <!-- All -->
        <md-content layout-xs>
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToHome()" class="md-primary sidenav-item" style="text-align:left">
                    Home
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToCategories()" class="md-primary sidenav-item" style="text-align:left">
                    E-book categories
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToEBooks()" class="md-primary sidenav-item" style="text-align:left">
                    E-books
                </md-button>
            </md-input-container>
        </md-content>

        <!-- Subscriber -->
        <md-content layout-xs ng-if="authService.isSubscriber()">
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToProfileManagement()" class="md-primary sidenav-item" style="text-align:left" >
                    Profile management
                </md-button>
            </md-input-container>
        </md-content>

        <!-- Admin -->
        <md-content layout-xs ng-if="authService.isAdmin()">
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToUserManagement()" class="md-primary sidenav-item" style="text-align:left" >
                    User management
                </md-button>
            </md-input-container>
            <md-input-container class="md-block sidenav-item">
                <md-button ng-click="goToProfileManagement()" class="md-primary sidenav-item" style="text-align:left" >
                    Profile management
                </md-button>
            </md-input-container>
        </md-content>
    </md-sidenav>
    <section id="container" class="page active">
        <ui-view></ui-view>
    </section>

    <!--Add button-->
    <md-button class="md-primary md-fab md-fab-bottom-right"
               aria-label="Add" ng-click="add()" ng-if="showAddButton()">
        <md-icon md-svg-src="images/ic_add_white_24px.svg"></md-icon>
    </md-button>
</div>