<div class="container">
    <div layout="column">
        <div layout="row">
            <h3>Users</h3>
        </div>
        <md-divider></md-divider>
        <md-card ng-class="{'md-whiteframe-4dp':hovering}"
                 ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column style="max-width: 100%">Type</th>
                        <th md-column style="max-width: 100%">Firstname</th>
                        <th md-column style="max-width: 100%">Lastname</th>
                        <th md-column style="max-width: 100%">Username</th>
                        <th md-column style="max-width: 100%">Password</th>
                        <th md-column style="max-width: 100%">Subscribed to category</th>
                        <th md-column style="max-width: 100%" ng-if="authService.isAdmin()">Delete user account</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="user in users | limitTo: query.limit:(query.page-1) * query.limit"
                        ng-click="edit(user)">
                        <td md-cell style="max-width: 100%">{{typesOfUser[user.type]}}</td>
                        <td md-cell style="max-width: 100%">{{user.firstname}}</td>
                        <td md-cell style="max-width: 100%">{{user.lastname}}</td>
                        <td md-cell style="max-width: 100%">{{user.username}}</td>
                        <td md-cell style="max-width: 100%">{{user.password}}</td>
                        <td md-cell style="max-width: 100%">{{user.category.name}}</td>
                        <td md-cell style="max-width: 100%" ng-if="authService.isAdmin()">
                            <md-button class="md-icon-button md-accent" aria-label="Delete"
                                       ng-click="delete(user, $event)">
                                <md-icon md-svg-icon="images/ic_delete_blue.svg"></md-icon>
                            </md-button>
                        </td>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                                 md-total="{{users.length}}" md-page-select
                                 md-boundary-links="options.boundaryLinks"
                                 md-label="{page: 'Page:', rowsPerPage: 'rows per page', of: 'of'}">
            </md-table-pagination>
        </md-card>
    </div>
</div>